.blog {
  padding: 5px 35px;
  margin: 10px;
  display: inline-block;
}
.characterBlog {
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 400;
}
.characterBlog a {
  text-decoration: none;
  color: red;
}
.characterBlog a:hover {
  font-weight: 600;
  color: red;
}
.zoomPic {
  transition: transform 1s, filter 1s ease-in-out;
  transform: scale(1.2);
  overflow: hidden;
}
.overflo {
  overflow: hidden;
}

.zoomPic:hover {
  transform: scale(1);
}
.blog-title {
  text-align: center;
  padding: 75px 0px;
  color: #f01100;
}
